{% extends 'layout/base.html' %}
{% block title %}Đăng nhập{% endblock %}

{% block header %}{% endblock %}


{% block content %}
<div class="login-container">
    <div class="login-box">

        <img src="{{ url_for('static', filename='images/icon_cloud.jpg') }}" alt="Cloud Icon" class="login-logo">

        <h3>Đăng nhập Cloud Storage</h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% if err_msg %}
        <div class="alert alert-danger">{{ err_msg }}</div>
        {% endif %}

        <form method="post" action="{{ url_for('user_login') }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="Tài khoản" name="username" required>
                <label for="username">Tài khoản</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
                <label for="password">Mật khẩu</label>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">
                    Đăng nhập <i class="bi bi-arrow-right-circle"></i>
                </button>
            </div>
            <div class="text-center mt-3">
                Chưa có tài khoản? <a href="{{ url_for('user_register') }}">Đăng ký ngay</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}