<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">
            Cloud Storage
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('homepage') }}">Trang chủ</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    {% if current_user.role == 'ADMIN' %}
                        <a class="nav-link active" href="{{ url_for('admin_dashboard') }}">
                            Chào {{ current_user.name }}! (Admin)
                        </a>
                    {% else %}
                         <a class="nav-link active" href="{{ url_for('user_dashboard') }}">
                            Chào {{ current_user.name }}!
                        </a>
                    {% endif %}
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('user_logout') }}">&#128205; Đăng xuất</a>
                </li>
                {% else %}
                 <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('user_login') }}">&#128205; Đăng nhập</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('user_register') }}">Đăng ký</a>
                </li>
                {% endif %}

            </ul>
            </div>
    </div>
</nav>